body{
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top: 50px solid #ea4335;
    border-left: 50px solid #fbb605;
    border-right: 50px solid #4285f4;
    border-bottom: 50px solid  #34a853;
}

.logo:before {
    content: '';
    position: absolute;
    top: -155px;
    right: -155px;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ffffff;
    /* border-radius: 50%; */
    transform: rotate(90deg);
}

.logo:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100px;
    height: 50px;
    background: #4285f4;
    transform: translate(-20px, -15px);
}